.wrappera{
width: 100%;
background-color: gray;
display: flex;
height: 50px;
justify-content: flex-start;
gap: 10px;
padding: 20px;
}

.wrapperb{
    width: 100%;
    background-color: gray;
    display: flex;
    height: 50px;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    }

    .wrapperc{
        display: flex;
        justify-content: space-evenly;
        height: 50px;
        gap: 10px;
        padding: 20px;
        }    
        .small-wrapper {
            background-color: gray;
            margin: 50px;
            justify-content: center;
            width: 200px;
          
            
        }

        
.wrapperd{
    width: 100%;
    background-color: gray;
    display: flex;
    height: 50px;
    justify-content: flex-end;
    gap: 10px;
    padding: 20px;


}

.wrappere {
    width: 100%;
    background-color: gray;
    display: flex;
    height: 50px;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;


}

.wrapperf{
    width: 100%;
    background-color: gray;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px; 
}

.wrapperg {
    width: 100%;
    background-color: gray;
    display: flex;
    height: 50px;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;

}

.bigger{ 
    width: 200px;  
}


div {
    background-color: white;
    width: 30px;
    height: 50px;
    text-align: center;
}

